<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12 link" ui-sref="tenants">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-institution"></i>
				</div>
				<div class="title">{{ tenants }}</div>
				<div class="comment">Tenants</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12 link" ui-sref="companies">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{ companies }}</div>
				<div class="comment">Companies</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12 link" ui-sref="sites">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-map-marker"></i>
				</div>
				<div class="title">{{ sites }}</div>
				<div class="comment">Sites</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12 link" ui-sref="field_units">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="glyphicon glyphicon-hdd"></i>
				</div>
				<div class="title">{{ fieldUnits }}</div>
				<div class="comment">Field Units</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12 link" ui-sref="sensors">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-stethoscope"></i>
				</div>
				<div class="title">{{ sensors }}</div>
				<div class="comment">Instruments</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12 link" ui-sref="targets">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-bullseye"></i>
				</div>
				<div class="title">{{ targets }}</div>
				<div class="comment">Targets</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12 link" ui-sref="tests_recurring">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-user-md"></i>
				</div>
				<div class="title">{{ tests_recurring }}</div>
				<div class="comment">Measurements</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12 link" ui-sref="tests_onetime">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-user-md"></i>
				</div>
				<div class="title">{{ tests_diagnostic }}</div>
				<div class="comment">Diagnostic</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
