<div class="panel-body container col-md-12">
    <h4>Site Details</h4>
    <div class="message">
        <span class="error" ng-show="error">{{ error }}</span>
    </div>
    <div class="form-group row col-lg-12">
        <img ng-src="{{site.picture}}" class="img-site" ng-if="site.picture">
        <div class="form-group margin-5" ng-if="!view_mode">
            <input type="file" ng-model="site.picture_info" base-sixty-four-input>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-6">

            <div class="form-group margin-5">
                <label for="name-input">
                    Name*
                </label>
                <input class="form-control" id="name-input" placeholder="Enter name" ng-model="site.name" ng-disabled="view_mode" required>
            </div>
            <div class="form-group">
                <label>
                    Company*
                </label>
                <select ng-model="site.company" class="form-control" placeholder="Choose company" ng-disabled="view_mode"
                        ng-options="company.id as company.name for company in companies">
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group margin-5">
                <label for="description-input">
                    Description
                </label>
                <input class="form-control" id="description-input" placeholder="Enter description" ng-model="site.description" ng-disabled="view_mode">
            </div>
            <div class="form-group">
                <label>
                    Contact
                </label>
                <select ng-model="site.contact" class="form-control" placeholder="Choose contact" ng-disabled="view_mode"
                        ng-options="contact.id as contact.name for contact in contacts">
                </select>
            </div>

        </div>
    </div>
    <h4>Address Information</h4>
    <div class="form-group row">
        <div class="col-lg-6">
            <div class="form-group margin-5">
                <label for="address1-input">
                    Address Line 1
                </label>
                <input class="form-control" id="address1-input" placeholder="Enter address 1" ng-model="site.address_line1" ng-disabled="view_mode">
            </div>
            <div class="form-group margin-5">
                <label for="postalcode-input">
                    Postal Code
                </label>
                    <input class="form-control" id="postalcode-input" placeholder="Enter postal code" ng-model="site.postalcode" ng-disabled="view_mode">
            </div>
            <div class="form-group margin-5">
                <label>
                    Country*
                </label>
                    <select ng-model="site.country" class="form-control" placeholder="Choose country" ng-disabled="view_mode">
                        <option class="form-control" value="">--Select country--</option>
                        <option class="form-control" ng-repeat="(code, country) in countries" value="{{code}}">{{country}}</option>
                    </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group margin-5">
                <label for="address2-input">
                    Address Line 2
                </label>
                    <input class="form-control" id="address2-input" placeholder="Enter address 2" ng-model="site.address_line2" ng-disabled="view_mode">
            </div>
            <div class="form-group margin-5">
                <label for="city-input">
                    City
                </label>
                <input class="form-control" id="city-input" placeholder="Enter city" ng-model="site.city"  ng-disabled="view_mode">
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" ng-click="createSite()" ng-if="!view_mode && !site.id">Create</a>
        <a class="btn btn-primary" ng-click="editSite(site.id)" ng-if="view_mode && site.id">Edit</a>
        <a class="btn btn-primary" ng-click="updateSite()" ng-if="!view_mode && site.id">Update</a>
        <a class="btn btn-primary" ng-click="clearSite()" ng-if="!view_mode && site.id">Reset</a>
        <a class="btn btn-primary" ng-click="cancelSite()">Back</a>
    </div>
</div>