<div class="row">
	<div class="col-xs-12">
	    <h4>Site List</h4>
	    <div class="row">
			<div class="col-xs-3">
			  <div class="input-group">	
				  <input type="text" class="form-control" placeholder="Company" aria-describedby="basic-addon2" ng-model="searchField">
				  <a class="btn input-group-addon" id="basic-addon2" ng-click="search()">Search</a>
			  </div>	
			</div>
			<div class="col-xs-9">
				<div class="pull-right">
					<ul uib-pagination total-items="total" ng-model="currentPage" ng-change="getSites()"></ul>				
				</div>	
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Site
						<span ng-if="sortField!='name' && sortField!='-name'" ng-click="sort('name')" class="fa fa-sort"></span>
						<span ng-if="sortField=='name'" ng-click="sort('-name')" class="fa fa-caret-down"></span>
						<span ng-if="sortField=='-name'" ng-click="sort('name')" class="fa fa-caret-up"></span>
					</th>
					<th>Address line 1
						<span ng-if="sortField!='address_line1' && sortField!='-address_line1'" ng-click="sort('address_line1')" class="fa fa-sort"></span>
						<span ng-if="sortField=='address_line1'" ng-click="sort('-address_line1')" class="fa fa-caret-down"></span>
						<span ng-if="sortField=='-address_line1'" ng-click="sort('address_line1')" class="fa fa-caret-up"></span>
					</th>
					<th>Address line 2
						<span ng-if="sortField!='address_line2' && sortField!='-address_line2'" ng-click="sort('address_line2')" class="fa fa-sort"></span>
						<span ng-if="sortField=='address_line2'" ng-click="sort('-address_line2')" class="fa fa-caret-down"></span>
						<span ng-if="sortField=='-address_line2'" ng-click="sort('address_line2')" class="fa fa-caret-up"></span>
					</th>
					<th>City
						<span ng-if="sortField!='city' && sortField!='-city'" ng-click="sort('city')" class="fa fa-sort"></span>
						<span ng-if="sortField=='city'" ng-click="sort('-city')" class="fa fa-caret-down"></span>
						<span ng-if="sortField=='-city'" ng-click="sort('city')" class="fa fa-caret-up"></span>
					</th>
					<th>Country
						<span ng-if="sortField!='country' && sortField!='-country'" ng-click="sort('country')" class="fa fa-sort"></span>
						<span ng-if="sortField=='country'" ng-click="sort('-country')" class="fa fa-caret-down"></span>
						<span ng-if="sortField=='-country'" ng-click="sort('country')" class="fa fa-caret-up"></span>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-repeat="site in sites">
				<tr>
					<td><a ng-click="view(site.id)" class="table-link">{{ site.name }}</a></td>
					<td>{{ site.address_line1 }}</td>
					<td>{{ site.address_line2 }}</td>
					<td>{{ site.city }}</td>
					<td>{{ site.country }}</td>
					<td>
						<a class="btn btn-xs btn-default" title="Edit" ng-click="edit(site.id)">
							<i class="fa fa-pencil"></i>
						</a>
						<a class="btn btn-xs btn-default" title="Remove" ng-click="delete(site.id)">
							<i class="fa fa-trash"></i>
						</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<a class="btn btn-primary" ng-click="addSite()">Add</a>
	</div>
</div>

